<ul>
  <li>
    Promises
    <ul>
      <li>
        debug promises with the Ember inspector
      </li>
      <li>
        print a stack trace
      </li>
    </ul>
  </li>
</ul>

<p>
  Presentation slides: <a href="https://speakerdeck.com/givanse/debug-and-report-a-bug-in-ember">debug and report a bug in Ember</a>
</p>
