<div class="info">
  <p>
    Debugging promises with the Ember inspector.
  </p>
  <p>
    <a href="https://guides.emberjs.com/v2.7.0/ember-inspector/promises/#toc_labeling-promises">labeling promises</a>
  </p>
  <br>
  <p>
    Target UI:
  </p>
  <img src="../images/target-ui.png">
</div>

<div class="demo">
  {{outlet}}
</div>
